
<h2>От Антошки</h2>  
<p/>
<p/>
<div class="verse">
      <p/>
      Мама любит и жалеет.<br/>
      Мама понимает. <br/>
      Мама всё моя умеет,<br/>
      Всё на свете знает!
      <p/>
      - Почему кусают осы?<br/>
      Спрашиваю прямо.<br/>
      И на ВСЕ мои вопросы<br/>
      отвечает мама.
      <p/>
      Скажет мне, откуда с неба<br/>
      Снег зимой берётся.<br/>
      Почему буханка хлеба<br/>
      Из муки печётся?
      <p/>
      Почему собака лает?<br/>
      Что во сне приснится?<br/>
      Почему сосулька тает<br/>
      И дрожат ресницы?
      <p/>
      Почему на небе тучка,<br/>
      А в лесу - лужайка?<br/>
      Я ЛИПУЧКА-ПОЧЕМУЧКА,<br/>
      А ОНА - ВСЕЗНАЙКА!
  </div>

