<h2>От Машеньки</h2>
<p/>
<p/>
  <div class="verse">
    <p/>
    Любимая мама, спасибо за все:<br/>
    За бессонные ночи, за счастливые дни.<br/>
    Лишь ты только знаешь, как быть все должно —<br/>
    Хочу поздравить тебя с днем матери.
    <p/>
    Пожелать я хочу здоровья тебе,<br/>
    Быть веселой, с задором в глазах.<br/>
    Нет счастливей меня на свете дочери,<br/>
    Ведь купаюсь в любви материнской лучах!
    <p/>

