<h2>От Пашеньки</h2>
<p/>
<p/>
  <div class="verse">
    <p/>
    Мне мама приносит<br/>
    Игрушки, конфеты,<br/>
    Но маму люблю я<br/>
    Совсем не за это.<br/>

    <p/>
    Веселые песни<br/>
    Она напевает,<br/>
    Нам скучно вдвоем<br/>
    Никогда не бывает.
    <p/>
    Я ей открываю<br/>
    Свои все секреты.<br/>
    Но маму люблю я<br/>
    Не только за это.
    <p/>
    Люблю свою маму,<br/>
    Скажу я вам прямо,<br/>
    Ну просто за то,<br/>
    Что она моя мама!
  </div>

